.navigation-bar {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .25rem;  
    background-color: #7fbc8c;
}
.navigation-bar button {
    font-size: 2rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color: #ffa07a;
    border-radius: 50%;
}

.yellow {
    background-color: #ffdb58;
}